.env
.env.*
!.env.example

# youtube logins
.youtube-cookie.json*

__pycache__/
*.pyc

downloaded_*

.venv/
venv/

.vscode

# SSH/private keys
*.pem
*.key
id_rsa
id_dsa
id_ecdsa
id_ed25519

GITHUB_SECURITY.md

# database files
*.db